# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
# Pods/ (commented out; decide based on your needs)
# *.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
ValifyFaceScanML/ValifyFaceScanML.xcodeproj/project.xcworkspace/contents.xcworkspacedata
